* {
	background: #333;
}

.displayExp {
	display: flex;
	padding: 1em;
	font-size: 1.2rem;
	direction: ltr;
	margin-top: 10vh;
	width: 90vw;
	margin: auto;
	text-align: end;
	justify-content: flex-end;
	word-break: break-word;
	white-space: pre-line;
	overflow-wrap: break-word;
	-ms-word-break: break-word;
	word-break: break-word;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
	background: rgb(129, 126, 126);
	color: white;
}

.displayResult {
	display: flex;
	padding: 1em;
	font-size: 1.2rem;
	direction: ltr;
	width: 90vw;
	margin: auto;
	text-align: end;
	word-break: break-word;
	white-space: pre-line;
	overflow-wrap: break-word;
	-ms-word-break: break-word;
	word-break: break-word;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
	background: rgb(129, 126, 126);
	color: white;
}

button {
	display: flex;
	margin: auto;
	margin-top: 5%;
	height: 3rem;
	max-width: fit-content;
	text-align: center;
	font-size: 1.5rem;
	align-items: center;
	justify-content: center;
	color: rgb(214, 208, 214);
}
